Repository ajay-er/lib-manage-nestjs: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write

docs: added API descriptions for BooksController and AuthorsController
  src/modules/authors/controllers/authors.controller.ts
  src/modules/books/controllers/books.controller.ts
Due: pnpm lint:fix

docs: api schema updated
  src/modules/authors/controllers/authors.controller.ts
  src/modules/authors/dto/auth.dto.ts
  src/modules/authors/dto/update-auth.dto.ts
  src/modules/books/controllers/books.controller.ts
  src/modules/books/dto/book.dto.ts
  src/modules/books/dto/date.dto.ts
  src/modules/books/dto/updateBook.dto.ts
  src/modules/docs/dto/doc.decorator.ts
  src/modules/docs/interfaces/doc.interface.ts
Due: pnpm lint:fix

feat(docker): add Dockerfile for containerization
  .dockerignore
  Dockerfile
  README.Docker.md
  compose.yaml
  package.json
  src/swagger.ts
Due: pnpm lint:fix, prettier --write

docs: installtion guide added
  README.md
Due: none

refactor: health route updated
  src/modules/health/health.controller.ts
Due: pnpm lint:fix

docs: swagger ui updated
  src/main.ts
  src/swagger.ts
Due: pnpm lint:fix

chore: test collect coverage updated
  package.json
Due: prettier --write

fix: auth dto response added
  src/modules/authors/controllers/authors.controller.ts
  src/modules/authors/dto/auth.dto.ts
  src/modules/authors/repository/repositories/authors.repository.ts
  src/modules/authors/services/authors.service.ts
Due: pnpm lint:fix

test: authors create unit test added
  package.json
  pnpm-lock.yaml
  src/modules/authors/services/authors.service.spec.ts
Due: pnpm lint:fix, prettier --write

test: authors findall and findById unit test added
  src/modules/authors/__mocks__/author.repository.mock.ts
  src/modules/authors/services/authors.service.spec.ts
Due: pnpm lint:fix

test: authors updated unit test added
  src/modules/authors/__mocks__/author.repository.mock.ts
  src/modules/authors/services/authors.service.spec.ts
Due: pnpm lint:fix

test: authors delete unit test added
  src/modules/authors/__mocks__/author.repository.mock.ts
  src/modules/authors/services/authors.service.spec.ts
Due: pnpm lint:fix

chore: package.json updated
  package.json
Due: prettier --write

test: books mock repo and sample unit test cases added
  src/modules/books/__mocks__/books.repository.mock.ts
  src/modules/books/services/books.service.spec.ts
Due: pnpm lint:fix

test: books unit test updated
  src/modules/books/__mocks__/books.repository.mock.ts
  src/modules/books/services/books.service.spec.ts
Due: pnpm lint:fix

feat: ci/cd added for dockerization
  .github/workflows/deploy.yaml
Due: prettier --write

docs: readme updated
  README.md
Due: none

Path conditions:
  pnpm lint:fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,yaml}
